.angular-json-explorer{
    background: rgba(192,192,192,0.2)
}
.not-object{
    padding: 10px 0 0 2em;
    height:40px;
    margin-bottom: 0px;
}
.log-error{
    padding: 10px 0 0 2em;
    margin-bottom: 0px;
}
.log-header{
    border:1px solid rgba(0,0,0,0.3)
}
.heigth-middle{
    height:300px;
    max-height: 300px;
    overflow-y: auto;
    border:1px solid rgba(0,0,0,0.3)
}
.new-log{
    background: red;
}

.heigth-long{
    min-height: 650px;
    max-height: 700px;
    overflow-y: auto;
    border:1px solid rgba(0,0,0,0.3)
}

.content-log{
    padding-left: 15px;
    padding-right: 15px;
}

