<div class="row content-log">
    <div class="col-md-12">
        <div class="col-md-9">
            <h4>Request</h4>
        </div>
        <div class="col-md-3">
            <div class="btn-group" role="group">
                <button type="button" ng-click="fn.clear()" class="btn btn-default glyphicon glyphicon-trash"></button>
            </div>
        </div>
    </div>
    <div class="heigth-middle">
        <div ng-repeat="req in requestServer track by $index" class="row content-item-json" >
            <div class="content-json" >
                <div class="row">
                    <div class="col-md-9">
                        <p class="angular-json-explorer not-object"> {{ req.status }} -- {{req.method}} -- {{req.url}} </p>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button type="button" ng-click="fn.viewData('request',$index)" class="btn btn-default glyphicon glyphicon glyphicon-export"></button>
                            <button type="button" ng-click="fn.viewData('response',$index)" class="btn btn-default glyphicon glyphicon glyphicon-import"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-json" ng-show="data.oldIndex == $index && data.res == 'request'">
                <div class="row">
                    <div class="col-md-3">
                        <ul>
                            <li ng-repeat="(key ,val) in req.request" ng-click="fn.request(val)"> {{key}} </li>
                        </ul>
                    </div>
                    <div class="col-md-9" >
                        <json-explorer class="content-json " data="data.value" collapsed="true""></json-explorer>
                    </div>
                </div>
            </div>

            <div class="content-json" ng-show="data.oldIndex == $index && data.res == 'response'">
                <div class="row">
                    <div class="col-md-3">
                        <ul>
                            <li> Response </li>
                        </ul>
                    </div>
                    <div class="col-md-9" >
                        <json-explorer class="content-json " data="req.response" collapsed="true""></json-explorer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>